.wrapper {
  min-width: 375px;

  .header {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 24px;

    >div {
      display: flex;
      padding: 8px 24px;
      font-size: 24px;
      justify-content: space-between;

      @media screen and (max-width: 1120px) {
        width: 100%;
      }
    }
  }

  .container {
    margin: auto;
    max-width: 1200px;
    padding: 0 24px 24px;

    &.center {
      text-align: center;
    }

    >section {
      +section {
        margin-top: 24px;
      }
    }
  
    @media screen and (max-width: 1120px) {
      width: 100%;
    }
  }
}

