@font-face {
  font-family: 'NotoSansKR';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NotoSansKR-Regular.woff");
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/NotoSansKR-Medium.woff");
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NotoSansKR-Bold.woff");
}

html, body, div, span, object, iframe,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main, summary,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
form, fieldset, legend, input, label, button, textarea, select, textarea, input,
table, caption, tbody, tfoot, thead, tr, th, td,
b, i, dl, dt, dd, ol, ul, li,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, data,
time, mark, audio, video, a {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body :before, body :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #000;
  line-height: 1.43;
  color: #fff;
  word-break: keep-all;
  -ms-text-size-adjust: 100%;
  -webkit-test-size-adjust: 100%;
  --webkit-font-smoothing:antialiased;
}

body, select, input, button, textarea, button, pre {
  font-size: 14px;
  font-family: 'NotoSansKR', sans-serif;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, summary {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

cite, em, dfn, address {
  font-style: normal;
}

fieldset, iframe {
  border: 0 none;
  min-width: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

ol, ul, li {
  list-style: none;
}

img, fieldset, iframe {
  border: 0 none;
}

img, video, audio, object, embed, iframe {
  max-width: 100%;
  height: auto;
}

legend, caption {
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 1px;
  opacity: 0;
  white-space: nowrap;
}

i, em, address {
  font-style: normal;
}

input, select, textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label, button {
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 0;
  background: none;
  border: 0 none;
  /*outline:0;*/
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

input[type="text"]::-ms-clear {
  display: none;
}

input[type="radio"], input[type="checkbox"], input[type="tel"], input[type="number"] {
  vertical-align: middle;
}

label > input[type="radio"], label > input[type="checkbox"] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

input[type="number"] {
  -moz-appearace: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

table {
  width: 100%;
  empty-cells: show;
  border-spacing: 0;
  table-layout: fixed;
}

table th {
  font-weight: normal;
}

a, a:visited {
  color: inherit;
}

a:link, a:hover {
  text-decoration: none;
}

.wrapper {
  min-width: 375px;
}

.wrapper .header {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 24px;
}

.wrapper .header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 24px;
  font-size: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1120px) {
  .wrapper .header > div {
    width: 100%;
  }
}

.wrapper .container {
  margin: auto;
  max-width: 1200px;
  padding: 0 24px 24px;
}

.wrapper .container.center {
  text-align: center;
}

.wrapper .container > section + section {
  margin-top: 24px;
}

@media screen and (max-width: 1120px) {
  .wrapper .container {
    width: 100%;
  }
}

.label-btn1 {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 0 12px;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.label-btn1 > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.label-btn1 input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.label-btn1 input + span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 14px;
  font-size: 15px;
  line-height: 17px;
  height: 48px;
  color: #6d747a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.label-btn1 input + span:before, .label-btn1 input + span:after {
  content: "";
  position: absolute;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.label-btn1 input + span:after {
  right: -2px;
  top: 50%;
  width: 1px;
  height: 10px;
  margin: -5px 0 0;
  background: #ced4da;
  z-index: -2;
}

.label-btn1 input:checked + span {
  color: #175fec;
}

.label-btn1 input:checked + span:after {
  display: none;
}

.label-btn1 input:disabled + span {
  color: #8f959c;
}

.label-btn1:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #ced4da;
  background: #f8f9fa;
  z-index: -2;
}

.label-btn1:before,
.label-btn1 > label > span {
  border-radius: 8px;
}

.label-btn1 > label {
  position: relative;
}

.label-btn1 > label:last-child span:after {
  display: none;
}

.label-btn1 > label > input:checked + span {
  background: #fff;
  border-color: #175fec;
}

.label-btn1 > label > span {
  border: 1px solid transparent;
}

.label-btn1 > span:last-of-type:after {
  display: none;
}

.label-btn1 > span:last-of-type:before {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #175fec;
  border-radius: 8px;
  z-index: -1;
}

.label-btn1 > span:nth-of-type(1):nth-last-of-type(2) ~ input:nth-of-type(2) {
  left: 50%;
}

.label-btn1 > span:nth-of-type(1):nth-last-of-type(3) ~ input:nth-of-type(2) {
  left: 33.33333%;
}

.label-btn1 > span:nth-of-type(1):nth-last-of-type(3) ~ input:nth-of-type(3) {
  left: 66.66667%;
}

.label-btn1 > span:nth-of-type(1):nth-last-of-type(4) ~ input:nth-of-type(2) {
  left: 25%;
}

.label-btn1 > span:nth-of-type(1):nth-last-of-type(4) ~ input:nth-of-type(3) {
  left: 50%;
}

.label-btn1 > span:nth-of-type(1):nth-last-of-type(4) ~ input:nth-of-type(4) {
  left: 75%;
}

.label-btn1 > input {
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}

.label-btn1 > input + span {
  float: left;
}

.label-btn1 > input:not(:checked) ~ input:not(:checked) ~ span:last-of-type:before {
  display: none;
}

.label-btn1 > input:checked ~ span:last-of-type:before {
  display: block !important;
}

.label-btn1 > input:checked:nth-of-type(1) ~ span:nth-of-type(2):before {
  margin-left: -100%;
}

.label-btn1 > input:checked:nth-of-type(1) ~ span:nth-of-type(3):before {
  margin-left: -200%;
}

.label-btn1 > input:checked:nth-of-type(1) ~ span:nth-of-type(4):before {
  margin-left: -300%;
}

.label-btn1 > input:checked:nth-of-type(2) ~ span:nth-of-type(3):before {
  margin-left: -100%;
}

.label-btn1 > input:checked:nth-of-type(2) ~ span:nth-of-type(4):before {
  margin-left: -200%;
}

.label-btn1 > input:checked:nth-of-type(3) ~ span:nth-of-type(4):before {
  margin-left: -100%;
}

.label-check1 {
  display: inline-block;
}

.label-check1.block {
  display: block;
}

.label-check1.simple > label {
  width: 28px;
  color: transparent;
  overflow: hidden;
}

.label-check1.simple > label span {
  padding: 4px;
}

.label-check1.simple > label span::-moz-selection {
  background: transparent;
}

.label-check1.simple > label span::selection {
  background: transparent;
}

.label-check1 > label {
  display: inline-block;
  position: relative;
  line-height: 18px;
}

.label-check1 > label span {
  display: inline-block;
  position: relative;
  padding: 4px 4px 4px 28px;
}

.label-check1 > label span:before, .label-check1 > label span:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
}

.label-check1 > label span:before {
  width: 20px;
  height: 20px;
  border: 1px solid #ffe344;
  border-radius: 4px;
}

.label-check1 > label input[type="checkbox"]:checked + span:before {
  background: #ffe344;
}

.label-check1 > label input[type="checkbox"]:checked + span:after {
  top: 9px;
  left: 9px;
  width: 11px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.label-check1 > label input[type="radio"] + span:before {
  border-radius: 50%;
}

.label-check1 > label input[type="radio"]:checked + span:before {
  background: #ffe344;
  border-radius: 50%;
}

.label-check1 > label input[type="radio"]:checked + span:after {
  top: 10px;
  left: 10px;
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.btn-area1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -4px;
  text-align: center;
}

.btn-area1 > * {
  margin: 2px 4px 2px;
}

.btn-type1 {
  display: inline-block;
  position: relative;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ffbd39;
  border-radius: 24px;
  font-size: 14px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  overflow: hidden;
}

.btn-type1:before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 100%;
  height: 100%;
  background: #ffbd39;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: -1;
}

.btn-type1 + .btn-type1 {
  margin-left: 4px;
}

.btn-type1.active, .btn-type1:hover, .btn-type1:focus {
  color: #000;
}

.btn-type1.active:before, .btn-type1:hover:before, .btn-type1:focus:before {
  left: 0;
}

span.btn-type1 {
  cursor: default;
}

span.btn-type1:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tit-main1 {
  position: relative;
  font-size: 48px;
  margin-bottom: 24px;
  text-align: center;
}

.tit-main1:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 70px;
  color: rgba(255, 255, 255, 0.15);
  z-index: -1;
  font-weight: 900;
}

@media screen and (max-width: 640px) {
  .tit-main1:before {
    content: "";
  }
}

.tit-sub1 {
  font-size: 20px;
  color: #ffbd39;
  margin-bottom: 16px;
}

.tit-sub2 {
  font-size: 18px;
  margin-bottom: 16px;
}

.txt-p {
  color: #bebebe;
  margin-bottom: 16px;
}

.txt-p a {
  color: #fff;
  text-decoration: underline;
}

.box-type1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 640px) {
  .box-type1 {
    display: block;
  }
}

.box-type1 > article {
  position: relative;
  width: calc(50% - 16px);
  height: 320px;
  padding: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  color: #bebebe;
  -webkit-transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.box-type1 > article:hover {
  -webkit-transform: translateY(-10px) !important;
          transform: translateY(-10px) !important;
  -webkit-box-shadow: 0 20px 20px -8px rgba(122, 122, 122, 0.32);
          box-shadow: 0 20px 20px -8px rgba(122, 122, 122, 0.32);
}

.box-type1 > article .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 24px 24px;
  font-size: 16px;
  color: #fff;
}

.box-type1 > article .bottom > .btn-area1 {
  margin-top: 8px;
}

.box-type1 > article .content {
  font-size: 16px;
  margin-top: 8px;
}

@media screen and (min-width: 641px) {
  .box-type1 > article:nth-of-type(2n) {
    margin-left: 16px;
  }
  .box-type1 > article:nth-of-type(2n) ~ article {
    margin-top: 16px;
  }
}

@media screen and (max-width: 640px) {
  .box-type1 > article {
    width: 100%;
    margin-left: 0 !important;
  }
  .box-type1 > article:not(:first-child) {
    margin-top: 16px;
  }
}

.box-type2 > article {
  width: 100%;
}

.box-type2 > article + article {
  margin: 16px 0 0 0;
}

[data-tooltip] > div {
  position: absolute;
  display: none;
  left: 0;
  bottom: 48px;
  width: 100%;
  padding: 8px;
  border: 1px solid #646464;
  border-radius: 8px;
  background: #000;
  word-break: break-all;
}

[data-tooltip].active > div {
  display: block;
  z-index: 10;
}

.code {
  margin-top: 24px;
  text-align: left;
}

.code + .code {
  margin-top: 16px;
}

.code pre {
  max-height: 400px;
}

[data-scroll] {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

[data-scroll].active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ui-tabcon {
  display: none;
}

.ui-tabcon.active {
  display: block;
}

figure img {
  max-width: 400px;
}

@media screen and (max-width: 620px) {
  figure img {
    max-width: 100%;
  }
}

figure > a {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

figure + figure {
  margin-top: 16px;
}
/*# sourceMappingURL=common.css.map */