// 버튼
$btn1: #ffbd39;
$btn-disabled: #eee;

// 텍스트
$text-default: #bebebe;
$text-type1: #ffbd39;
$text-type2 : #a1ff0b;

// 라인
$line1: #646464;

// 텍스트 컬러 지정
a.color-a {
  color: #0084db;
  text-decoration: underline;
}