@import 'fonts';
@import 'reset';
@import 'color';
@import 'layouts';
@import 'form';
@import 'button';
@import 'text';
@import 'items';

.blind {
  display: inline-block;
  border: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.ui-tabcon {
  display: none;

  &.active {
    display: block;
  }
}

figure {

  img {
    max-width: 400px;

    @media screen and (max-width: 620px) {
      max-width: 100%;
    }
  }

  >a {
    cursor: zoom-in;
  }

  +figure {
    margin-top: 16px;
  }
}