@import 'reset';
@import 'fonts';

a.link,
button.link {
    text-decoration: underline;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}